<html>
  <head>
    <title>What's Really Bugging Me </title>
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
  </head>
  <body>
    <script>
      AFRAME.registerComponent('could-bug-me-less', {
        init: function () {
            var el = this.el; 

            // Text isn't clickable out-of-the-box; we need to add a geometry component, such as a plane
            el.setAttribute('geometry', "height:auto;primitive:plane;width:4");
            el.setAttribute('material', 'opacity: 0');      // Make the plane invisible
            
            el.addEventListener('click', function () {
                el.setAttribute('opacity', 0.2);
                el.object3D.scale.set(0.9, 0.9, 1);    
            });
        }
      });
    </script>

    <a-scene>
      <a-text value="What's Really Bugging Me" position="-1.1 2.5 -1.5" color="black" font="kelsonsans"></a-text>
      <a-text value="Waking up Early"          could-bug-me-less  position="-1.1 1.0 -1.5" color="red" font="kelsonsans"></a-text>
      <a-text value="The News"                 could-bug-me-less  position="-1.1 2 -1.5"   color="red" font="kelsonsans"></a-text>
      <a-text value="My Knees"                 could-bug-me-less  position="-1.1 1.5 -1.5" color="red" font="kelsonsans"></a-text>
      <a-sky color="lightyellow"></a-sky>
      <a-camera mouse-cursor >
        <a-cursor fuse="fuse: true; fuseTimeout: 200" color="green"></a-cursor>
      </a-camera>
    </a-scene>
  </body>
</html>